.navbar-default {
    background-color: black;
    margin: 0;
    height: 50px;
    }
.navbar-letter {
    color: cyan;
}

a.navbar-logo {
    color: rgb(116, 179, 238);
}
  
.main-jumbo {
    padding-top: 70px;
    padding-left: 30px;
    }
  
#jumbotron-h1 {
    color: black;
    }
  
.main-body-lower{
    margin-bottom: 60px;
}

.main-text {
    text-align: center;
}
  
#navbar-title {
    color: rgb(204, 0, 255);
}

#navbar-menu {
    color: white;
    }

#navbar-button {
    padding: 6px;
    margin-top: 8px;
    margin-right: 10px;
}

.jumbo-img {
    margin: 0 auto;
}

.main-body .text-center {
    margin-top: 20px;
}

.main-container {
    display: flex;
    flex-flow: wrap;
    margin: 10px auto;
}

.main-featured {
    width: 400px;
    height: 200px;
    
    margin: 30px;
}

.main-body-bottom{
    width: 80%;
    margin: 0 auto;
}

.default-footer {
    width: 100%;
    height: 100px;
    padding: 20px 20px;
    
    background-color: silver;
    
    clear: both;
    position: relative;
    z-index: 10;
    margin-top: 100px;

}

.footer-content {
    border: white;
}

#footer-mail {
    color: black;
}

.navbar-search {
    margin-left: 15px;
    padding-top: 15px;
}

#navbar-search-area {
    padding: 0;
}

.search-area {
    height: 20px;
}

.search-button {
    height: 20px;
    padding: 0 10px;
}

.modal-open[style] {
    padding-right: 0px !important;
  }

  .modal-body-isbnform {
      width: 60%;
  }